@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif
}
.introduçao{
    background-color: #800080;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    color: aliceblue;
}
.titulo{
    display: inline-block;
    border-top: 5px solid #6e21fc;
}
.descricao{
    width: 50%;
}
.Inscriçao{
    background-color: #fc66216e;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.tituloForm{
    text-align: center;
    display: inline-block;
    border-top: 5px solid #6E005f;
}